body {
    margin: 0;
    font-family: Geneva, Arial, sans-serif;
    text-align: center;
}

body table {
    margin:  12px auto;
}

table#quarters {

}


table#quarters td {
    padding: 3px ;
    text-align: right;
}

table#quarters tr td:nth-child(1) {
    text-align: left;
}

