body {
    margin: 0;
    font-family: Geneva, Arial, sans-serif;
}

body h1, body h2 {
    text-align: center;
}

body table {
    margin:  12px;
}

table#quarters {
    margin:  12px auto;
}


table#quarters tr:not(:first-child) td:nth-child(2) {
    font-weight: bold;
}

table td {
    padding: 5px ;
    text-align: right;
}

table#quarters tr td:nth-child(1) {
    text-align: left;
}

div#statsholder {
    text-align: center;
}

table.stats {
}

table.stats tr td {
    /*text-align: right;*/
    /*margin: 5px;*/
}

table.stats tr td:nth-child(2) {
    text-align: left;
}
